n8n-warmup-workflows/warmup-saima-auto-reply.json
{
  "name": "Warmup Reply Bot - for bygweb.com",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 3
            }
          ]
        },
        "mailbox": "INBOX",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "check-inbox",
      "name": "Check Partner Inbox",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 340],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_PARTNER_IMAP_ID",
          "name": "Partner Email IMAP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "from-bygweb",
              "leftValue": "={{ $json.from }}",
              "rightValue": "bygweb.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-from-bygweb",
      "name": "From bygweb.com?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "jsCode": "// Star/mark as important - signals to provider this sender is trusted\nconst email = $input.first().json;\n\nreturn [{\n  json: {\n    action: 'marked_important',\n    from: email.from,\n    subject: email.subject || '',\n    messageId: email.messageId || '',\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "mark-important",
      "name": "Mark Important & Star",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 280]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 35) + 5 }}",
        "unit": "minutes"
      },
      "id": "reply-delay",
      "name": "Wait 5-40 Min (Human)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [940, 280]
    },
    {
      "parameters": {
        "jsCode": "// Generate a natural reply to Saima's warmup email\n\nconst shortReplies = [\n  'Thanks for the update Saima! This looks great. Let me review and get back to you by end of day.',\n  'Appreciate you sharing this! I had a few thoughts - can we schedule a quick call to discuss?',\n  'Great timing - I was just thinking about this. Let me pull together some notes and circle back.',\n  'Thanks Saima! I agree with your approach. Let us move forward with this plan.',\n  'This is really helpful, thank you. I will take a closer look and share my feedback tomorrow.',\n  'Sounds good to me! I am available Thursday or Friday if you want to sync up.',\n  'Perfect, thanks for the follow-up. Everything looks on track from my end as well.',\n  'Good stuff! I have a few ideas to add. Will send them over shortly.',\n  'Thanks for checking in Saima! Things are going well. Let us catch up next week.',\n  'Really appreciate this! The direction looks solid. Happy to discuss further whenever you are free.'\n];\n\nconst mediumReplies = [\n  'Thanks for sending this over Saima! I have had a chance to review the details and overall it looks really solid. I especially like the approach you outlined in the first section.\\n\\nOne thing I was wondering - have we considered the timeline impact? Might be worth a quick discussion. Let me know when works for you.',\n  'Great update Saima! I am glad things are progressing well. I have been working on the related piece on my end and I think our timelines are aligning nicely.\\n\\nI will have my portion ready by Thursday. Should we plan to combine everything on Friday?',\n  'Really appreciate the thorough summary. I had a couple of follow-up thoughts.\\n\\nFirst, I think the strategy is spot on. Second, we might want to loop in the broader team once we have the draft finalized.\\n\\nLet me know what you think about the timing.',\n  'This is exactly what I was hoping to see. Nice work pulling this together so quickly.\\n\\nI do have one suggestion. Maybe we should add a brief section covering the competitive landscape. I can draft that part if you would like.\\n\\nOtherwise I think we are in great shape.',\n  'Thanks for the heads up Saima. I just reviewed the changes and they look good to me.\\n\\nThe feedback you incorporated really strengthened the overall piece. I think we are ready to move to the next phase whenever you are.\\n\\nShall we aim for Monday?'\n];\n\n// 60% short, 40% medium for variety\nconst useShort = Math.random() < 0.6;\nconst pool = useShort ? shortReplies : mediumReplies;\nconst reply = pool[Math.floor(Math.random() * pool.length)];\n\n// Build reply subject\nconst origSubject = $input.first().json.subject || 'your message';\nconst replySubject = origSubject.startsWith('Re:') ? origSubject : 'Re: ' + origSubject;\n\n// Extract sender email\nconst fromField = $input.first().json.from || '';\nconst match = fromField.match(/<(.+?)>/);\nconst senderEmail = match ? match[1] : fromField.trim();\n\nreturn [{\n  json: {\n    replyTo: senderEmail,\n    subject: replySubject,\n    body: reply,\n    originalMessageId: $input.first().json.messageId || ''\n  }\n}];"
      },
      "id": "gen-reply",
      "name": "Generate Natural Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 280]
    },
    {
      "parameters": {
        "fromEmail": "={{ /* PARTNER EMAIL - CHANGE THIS */ 'partner@gmail.com' }}",
        "toEmail": "={{ $json.replyTo }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "id": "send-reply",
      "name": "Reply to Saima",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1380, 280],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_PARTNER_SMTP_ID",
          "name": "Partner Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'REPLY_SENT',\n    repliedTo: $input.first().json.replyTo,\n    subject: $input.first().json.subject,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "log-reply",
      "name": "Log Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 280]
    },
    {
      "parameters": {},
      "id": "not-bygweb",
      "name": "Not from bygweb - Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 460]
    }
  ],
  "connections": {
    "Check Partner Inbox": {
      "main": [
        [{ "node": "From bygweb.com?", "type": "main", "index": 0 }]
      ]
    },
    "From bygweb.com?": {
      "main": [
        [{ "node": "Mark Important & Star", "type": "main", "index": 0 }],
        [{ "node": "Not from bygweb - Ignore", "type": "main", "index": 0 }]
      ]
    },
    "Mark Important & Star": {
      "main": [
        [{ "node": "Wait 5-40 Min (Human)", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5-40 Min (Human)": {
      "main": [
        [{ "node": "Generate Natural Reply", "type": "main", "index": 0 }]
      ]
    },
    "Generate Natural Reply": {
      "main": [
        [{ "node": "Reply to Saima", "type": "main", "index": 0 }]
      ]
    },
    "Reply to Saima": {
      "main": [
        [{ "node": "Log Reply", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "warmup-bygweb" }
  ],
  "pinData": {}
}
