n8n-warmup-workflows/warmup-saima-spam-rescue.json
{
  "name": "Warmup Spam Rescue - bygweb.com",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "spam-trigger",
      "name": "Check Every 20 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 340]
    },
    {
      "parameters": {
        "jsCode": "// This node determines which spam folders to check\n// based on your partner email providers\n\nconst partners = [\n  { label: 'Gmail', spamFolder: '[Gmail]/Spam', provider: 'gmail' },\n  { label: 'Outlook', spamFolder: 'Junk', provider: 'outlook' },\n  { label: 'Yahoo', spamFolder: 'Bulk Mail', provider: 'yahoo' }\n];\n\n// Output all partners to check in parallel\nreturn partners.map(p => ({ json: p }));"
      },
      "id": "get-providers",
      "name": "List Spam Folders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 340]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 1
            }
          ]
        },
        "mailbox": "={{ $json.spamFolder }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "read-spam",
      "name": "Read Spam/Junk Folder",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [660, 340],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_PARTNER_IMAP_ID",
          "name": "Partner IMAP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bygweb-check",
              "leftValue": "={{ $json.from }}",
              "rightValue": "bygweb.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-bygweb",
      "name": "From bygweb.com?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 340]
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// SPAM RESCUE ACTION\n// =============================================\n// This is the MOST POWERFUL warmup signal.\n// Moving email from Spam → Inbox tells the\n// provider: \"This sender is legitimate!\"\n//\n// HOW TO COMPLETE THIS:\n//\n// For Gmail partners:\n//   Add a \"Gmail\" node after this with:\n//   - Action: Modify Message Labels\n//   - Remove Labels: SPAM\n//   - Add Labels: INBOX, IMPORTANT\n//\n// For Outlook partners:\n//   Add a \"Microsoft Outlook\" node:\n//   - Action: Move Message\n//   - Destination: Inbox\n//\n// For Yahoo/others:\n//   Use HTTP Request to their API\n//   or manually set up filters\n\nconst email = $input.first().json;\nconst fromField = email.from || '';\n\nreturn [{\n  json: {\n    action: 'RESCUE_FROM_SPAM',\n    from: fromField,\n    subject: email.subject || '(no subject)',\n    messageId: email.messageId || '',\n    rescuedAt: new Date().toISOString(),\n    priority: 'HIGH',\n    note: 'This email from bygweb.com was found in spam and needs to be moved to inbox'\n  }\n}];"
      },
      "id": "rescue-action",
      "name": "Rescue to Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 280]
    },
    {
      "parameters": {
        "jsCode": "// Log rescue for monitoring\n// If you see many rescues, it means:\n// 1. DNS (SPF/DKIM/DMARC) may need fixing\n// 2. Sending volume may be too high\n// 3. Email content may be triggering filters\n\nconst data = $input.first().json;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rescueCount) staticData.rescueCount = 0;\nstaticData.rescueCount++;\n\nreturn [{\n  json: {\n    ...data,\n    totalRescues: staticData.rescueCount,\n    healthWarning: staticData.rescueCount > 10 \n      ? 'HIGH SPAM RATE - Check DNS records and reduce sending volume!'\n      : 'Normal - keep monitoring'\n  }\n}];"
      },
      "id": "log-rescue",
      "name": "Log Rescue & Monitor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 280]
    },
    {
      "parameters": {},
      "id": "not-bygweb",
      "name": "Not bygweb - Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1140, 460]
    }
  ],
  "connections": {
    "Check Every 20 Min": {
      "main": [
        [{ "node": "List Spam Folders", "type": "main", "index": 0 }]
      ]
    },
    "List Spam Folders": {
      "main": [
        [{ "node": "Read Spam/Junk Folder", "type": "main", "index": 0 }]
      ]
    },
    "Read Spam/Junk Folder": {
      "main": [
        [{ "node": "From bygweb.com?", "type": "main", "index": 0 }]
      ]
    },
    "From bygweb.com?": {
      "main": [
        [{ "node": "Rescue to Inbox", "type": "main", "index": 0 }],
        [{ "node": "Not bygweb - Ignore", "type": "main", "index": 0 }]
      ]
    },
    "Rescue to Inbox": {
      "main": [
        [{ "node": "Log Rescue & Monitor", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "warmup-bygweb" }
  ],
  "pinData": {}
}
