n8n-warmup-workflows/warmup-saima-bygweb.json
{
  "name": "Warmup - a.saima@bygweb.com",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 40
            }
          ]
        }
      },
      "id": "sch-trigger",
      "name": "Run Every 40 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 340]
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// SIMPLE WARMUP - NO SCHEDULE, NO RAMP\n// Sends immediately, every trigger\n// =============================================\n\nconst now = new Date();\nconst hour = now.getHours();\n\n// Only check: are we within sending hours? (8 AM - 9 PM)\nconst isBusinessHours = hour >= 8 && hour <= 21;\n\n// Daily counter\nconst staticData = $getWorkflowStaticData('global');\nconst today = now.toISOString().split('T')[0];\nif (staticData.lastDate !== today) {\n  staticData.lastDate = today;\n  staticData.sentToday = 0;\n}\n\n// Max 30 emails per day to avoid Hostinger limits\nconst maxPerDay = 30;\nconst canSend = isBusinessHours && staticData.sentToday < maxPerDay;\n\nreturn [{\n  json: {\n    canSend,\n    sentToday: staticData.sentToday,\n    maxPerDay,\n    currentHour: hour,\n    isBusinessHours\n  }\n}];"
      },
      "id": "warmup-config",
      "name": "Warmup Config & Limits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "can-send-check",
              "leftValue": "={{ $json.canSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "can-send-check",
      "name": "Can Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 340]
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// PARTNER EMAILS - REPLACE WITH YOUR REAL ONES\n// =============================================\n\nconst partners = [\n  { name: 'Partner 1', email: 'partner1@gmail.com' },\n  { name: 'Partner 2', email: 'partner2@outlook.com' },\n  { name: 'Partner 3', email: 'partner3@gmail.com' },\n  { name: 'Partner 4', email: 'partner4@yahoo.com' },\n  { name: 'Partner 5', email: 'partner5@outlook.com' },\n  { name: 'Partner 6', email: 'partner6@gmail.com' }\n];\n\n// Rotate through partners\nconst staticData = $getWorkflowStaticData('global');\nconst idx = (staticData.partnerIdx || 0) % partners.length;\nstaticData.partnerIdx = idx + 1;\n\nreturn [{\n  json: {\n    to: partners[idx].email,\n    toName: partners[idx].name\n  }\n}];"
      },
      "id": "pick-partner",
      "name": "Pick Partner Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 280]
    },
    {
      "parameters": {
        "jsCode": "const toName = $input.first().json.toName;\n\nconst conversations = [\n  {\n    subject: 'Quick question about the project',\n    body: `Hi ${toName},\\n\\nJust wanted to follow up on our conversation from last week. I have been thinking about the approach we discussed and I believe it could work really well for the next phase.\\n\\nLet me know when you have a moment to chat about it.\\n\\nBest regards,\\nSaima`\n  },\n  {\n    subject: 'Following up on our discussion',\n    body: `Hey ${toName},\\n\\nHope your week is going well! I wanted to check in about the timeline. Are we still on track for the dates we discussed earlier?\\n\\nLet me know if anything has changed on your end.\\n\\nThanks,\\nSaima`\n  },\n  {\n    subject: 'Meeting notes from today',\n    body: `Hi ${toName},\\n\\nI finished putting together the notes from our meeting. The main action items are looking solid. I will start working on the first deliverable this week.\\n\\nPlease let me know if I missed anything important.\\n\\nRegards,\\nSaima`\n  },\n  {\n    subject: 'Thoughts on the proposal?',\n    body: `Hi ${toName},\\n\\nJust circling back on the proposal we discussed. I have made the revisions you suggested and I think it is in much better shape now.\\n\\nWould appreciate your final thoughts before we move forward.\\n\\nThanks,\\nSaima`\n  },\n  {\n    subject: 'Schedule for next week',\n    body: `Hey ${toName},\\n\\nWanted to confirm our schedule for next week. I have a few openings on Tuesday and Thursday afternoon if either works for you.\\n\\nLet me know your availability and we can lock something in.\\n\\nBest,\\nSaima`\n  },\n  {\n    subject: 'Update on the deliverables',\n    body: `Hi ${toName},\\n\\nQuick update from my end. The first draft is coming along nicely and should be ready for review by end of this week. I am fairly happy with the direction.\\n\\nWill send it over as soon as it is polished.\\n\\nCheers,\\nSaima`\n  },\n  {\n    subject: 'Can we sync up tomorrow?',\n    body: `Hey ${toName},\\n\\nI have a few things I would like to run by you before the team meeting. Would you be available for a quick 15-minute call tomorrow morning?\\n\\nNo rush if you are busy - we can do it later in the week too.\\n\\nThanks,\\nSaima`\n  },\n  {\n    subject: 'Thanks for the introduction',\n    body: `Hi ${toName},\\n\\nReally appreciate you connecting me with your contact. We had a great initial conversation and I think there is a lot of potential for collaboration.\\n\\nI will keep you posted on how things develop.\\n\\nBest regards,\\nSaima`\n  },\n  {\n    subject: 'Checking in on progress',\n    body: `Hi ${toName},\\n\\nJust checking in to see how things are progressing on your end. I have completed my part and am ready to move to the next step whenever you are.\\n\\nNo pressure at all - just wanted to stay in the loop.\\n\\nThanks,\\nSaima`\n  },\n  {\n    subject: 'Feedback on the draft',\n    body: `Hey ${toName},\\n\\nI had a chance to review the draft you sent over. Overall it looks really strong. I have a couple of minor suggestions that I think could improve the flow.\\n\\nHappy to discuss whenever you have a few minutes.\\n\\nBest,\\nSaima`\n  },\n  {\n    subject: 'Idea for the upcoming campaign',\n    body: `Hi ${toName},\\n\\nI had an idea that might work well for what we are planning. It is a bit different from what we originally discussed but I think it could be more effective.\\n\\nWould love to get your take on it when you have time.\\n\\nRegards,\\nSaima`\n  },\n  {\n    subject: 'Great article I came across',\n    body: `Hey ${toName},\\n\\nI came across a really insightful piece about industry trends that reminded me of our recent conversation. Some of the data points were quite surprising.\\n\\nI can share the details when we next catch up.\\n\\nCheers,\\nSaima`\n  },\n  {\n    subject: 'Re: Project timeline update',\n    body: `Hi ${toName},\\n\\nThanks for the update on the timeline. That works perfectly from my end. I will adjust my schedule accordingly and make sure everything is aligned.\\n\\nLooking forward to getting this wrapped up.\\n\\nBest,\\nSaima`\n  },\n  {\n    subject: 'Resource you might find useful',\n    body: `Hey ${toName},\\n\\nI recently discovered a helpful tool that could streamline some of the work we have been doing manually. It has saved me quite a bit of time already.\\n\\nI will walk you through it next time we chat.\\n\\nThanks,\\nSaima`\n  },\n  {\n    subject: 'Quick favor to ask',\n    body: `Hi ${toName},\\n\\nHope you are doing well! I have a small favor to ask. Would you mind reviewing a short document I put together? It should only take about five minutes.\\n\\nCompletely understand if you are swamped right now.\\n\\nBest regards,\\nSaima`\n  },\n  {\n    subject: 'Looking forward to our call',\n    body: `Hey ${toName},\\n\\nJust wanted to confirm I have our call on the calendar. I have prepared a few discussion points that I think will be helpful.\\n\\nSee you then!\\n\\nBest,\\nSaima`\n  },\n  {\n    subject: 'Some thoughts on the strategy',\n    body: `Hi ${toName},\\n\\nI spent some time thinking through the strategy over the weekend. I have a few ideas that could strengthen our approach going forward.\\n\\nWould love to brainstorm together if you are up for it.\\n\\nRegards,\\nSaima`\n  },\n  {\n    subject: 'Brief update from my end',\n    body: `Hey ${toName},\\n\\nJust a quick update. I have finished the research phase and am now moving into the implementation stage. Everything is tracking well so far.\\n\\nWill share a more detailed update by Friday.\\n\\nCheers,\\nSaima`\n  },\n  {\n    subject: 'Wanted to share something',\n    body: `Hi ${toName},\\n\\nI came across something interesting that relates to what we were discussing last time. I think it could give us a fresh perspective on the problem.\\n\\nLet me know when you have a moment and I will fill you in.\\n\\nBest,\\nSaima`\n  },\n  {\n    subject: 'Are you available this week?',\n    body: `Hey ${toName},\\n\\nI have a couple of items I would like to go over with you. Nothing urgent but I think it would be good to align before the end of the week.\\n\\nWhat does your schedule look like?\\n\\nThanks,\\nSaima`\n  }\n];\n\n// Pick random, avoid recent repeats\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.usedSubjects) staticData.usedSubjects = [];\n\nlet available = conversations.filter(c => !staticData.usedSubjects.includes(c.subject));\nif (available.length === 0) {\n  staticData.usedSubjects = [];\n  available = conversations;\n}\n\nconst picked = available[Math.floor(Math.random() * available.length)];\nstaticData.usedSubjects.push(picked.subject);\nif (staticData.usedSubjects.length > 12) {\n  staticData.usedSubjects = staticData.usedSubjects.slice(-12);\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    subject: picked.subject,\n    body: picked.body\n  }\n}];"
      },
      "id": "gen-email",
      "name": "Generate Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 280]
    },
    {
      "parameters": {
        "fromEmail": "a.saima@bygweb.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send from a.saima@bygweb.com",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1300, 280],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_HOSTINGER_SMTP_ID",
          "name": "Hostinger SMTP - bygweb.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.sentToday = (staticData.sentToday || 0) + 1;\n\nreturn [{\n  json: {\n    status: 'EMAIL_SENT',\n    from: 'a.saima@bygweb.com',\n    to: $input.first().json.to,\n    subject: $input.first().json.subject,\n    sentToday: staticData.sentToday,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "log-sent",
      "name": "Log & Update Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 280]
    },
    {
      "parameters": {},
      "id": "skip-send",
      "name": "Skip (Limit/Hours)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [860, 440]
    }
  ],
  "connections": {
    "Run Every 40 Min": {
      "main": [
        [{ "node": "Warmup Config & Limits", "type": "main", "index": 0 }]
      ]
    },
    "Warmup Config & Limits": {
      "main": [
        [{ "node": "Can Send?", "type": "main", "index": 0 }]
      ]
    },
    "Can Send?": {
      "main": [
        [{ "node": "Pick Partner Email", "type": "main", "index": 0 }],
        [{ "node": "Skip (Limit/Hours)", "type": "main", "index": 0 }]
      ]
    },
    "Pick Partner Email": {
      "main": [
        [{ "node": "Generate Email Content", "type": "main", "index": 0 }]
      ]
    },
    "Generate Email Content": {
      "main": [
        [{ "node": "Send from a.saima@bygweb.com", "type": "main", "index": 0 }]
      ]
    },
    "Send from a.saima@bygweb.com": {
      "main": [
        [{ "node": "Log & Update Counter", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "warmup-bygweb" }
  ],
  "pinData": {}
}
